

.newpassword-container h2 {
  font-size: 200%;
  font-weight: 600;
}
.password-input {
  display: grid;
  gap: 1rem;
}

.password-input input {
  padding: 0.3rem;
  border-radius: 0.4rem;
  border: 0.5px solid black;
  width: 30rem;
}


.newpassword-container button {
  border: none;
  margin-top: 1rem;
  padding: 0.6rem 10.8rem;
  text-decoration: none;
  border-radius: 0.6rem;
  background:  rgb(60, 60, 239);
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: .1s;
  width: 30rem;
}

.reset-p:hover {
  background: blue;
}

.buttom-text {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
  margin-left: 7rem;
}

