.forgotpassword-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.forgotpassword-container, 
.img-1 {
  width: 40rem;
}

.left-img {
  margin-bottom: 20rem;
}

.top-text h2 {
  margin-left: 6rem;
  margin-top: 1rem;
}

.top-text p {
  margin-left: 2.5rem;
  font-weight: 400;
}

.forgetpassword-input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

.forgetpassword-input input {
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: 0.5px solid black;
  width: 21rem;
}

.forgetpassword-input button {
  border-radius: 5px;
  padding: 5px;
  background: rgb(60, 60, 239);
  color: white;
  border: none;
  margin-bottom: 1rem;
  width: 21rem;
}

.forgetpassword-input a {
  margin-left: 7rem;
}

.forgetpassword-input .buttom-text {
  display: flex;
  gap: 2rem;
  margin-top: 10rem;
  margin-left: 2rem;
}

.otp-input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 7rem;
  margin-left: 2rem;
  width: 100%;
}

.otp-input h2 {
  margin-left: 1rem;
}

.otp-input p {
  margin-left: 3rem;
}

.input-box {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  width: 100%;
  margin-left: 3rem;
  margin-top: 3rem;
  
}

.input-box input {
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 0.5px solid black;
  width: 2.8rem;
  height: 2.8rem;
  
}

.otp-input button {
  border: none;
    padding: 10px;
    width: 20rem;
    text-decoration: none;
    margin-bottom: 0.8rem;
    border-radius: 0.6rem;
    background:  rgb(60, 60, 239);
    color: #fff;
    text-align: center;
    margin-left: 2rem;
    cursor: pointer;
    transition: .1s;
}

span {
  margin-top: 4rem;
  margin-left: 3rem;
}









  
 









